# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory for testing frameworks
coverage/

# Temporary files
*.tmp
*.temp

# Build artifacts
dist/
build/

# Editor and IDE settings
.vscode/
.idea/
*.swp

# Optional npm cache directory
.npm

# Ignore Next.js files if using static exports
.next/
out/
